{% extends "rrddisplay/base.html" %}
{% load static %}
{% block body %}

  
  <!-- Tokenize -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <!-- {{ task.foo }}
      {{ data|default:"3 &lt; 2" }} -->
      {{text}}
      {{text_af}}
      <div class="row">
        <div class="col-md-4">
          <h1>คำเมือง</h1>
        น้ำบ่ายดาย กินบะดาย
        <h1>คำไทย</h1>
        น้ำบ่ายดายกินบะดาย
        <h1>คำไทยจากหนังสือ</h1>
        น้ำบ่ายดายกินบะดาย
        </div>
        <div class="col-md-8">
          <span>คำที่ตรงกัน</span>
          30 คำ คิดเป็น ร้อยละ 90
          
        </div>
      </div>
      
    </div>
  </section>

  {% endblock %}